{% assign prevsegment = page.segment | minus:1 %}
{% assign nextsegment = page.segment | plus:1 %}
{% assign numsegments = lesson.segments | size %}

<ul class="button-group round">
    {% if prevsegment > 0 %}<a href="../segment{{ prevsegment }}">{% endif %}
        <button type="button" class="button small secondary{% if prevsegment < 1 %} disabled{% endif %}">Previous</button>
    {% if prevsegment > 0 %}</a>{% endif %}

    <a href="{{ site.baseurl }}/lessons/lesson{{ page.lesson }}"><button type="button" class="button small secondary">
        Back to Lesson {{ page.lesson }}
    </button></a>

    {% if nextsegment <= numsegments %}<a href="../segment{{ nextsegment }}">{% endif %}
        <button type="button" class="button small secondary{% if nextsegment > numsegments %} disabled{% endif %}">Next</button>
    {% if nextsegment <= numsegments %}</a>{% endif %}
</a>
