<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="{{ site.baseurl }}/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      
      <hr/>

{% assign lessonindex = page.lesson | minus:1 %}
{% assign segmentindex = page.segment | minus:1 %}

{% assign lessonnum = page.lesson | times:1 %}
{% assign segmentnum = page.segment | times:1 %}

{% for lesson in site.data.outline %}
    <li class="sidebar-nav-item lesson{% if lessonnum == forloop.index %} active{% endif %}">
        <a href="{{ site.baseurl }}/lessons/lesson{{ forloop.index }}">{{ forloop.index }}. {{ lesson.title }}</a>
        {% if lessonnum == forloop.index %}
        <ul>
            {% for segment in site.data.outline[lessonindex].segments %}
                <li><a href="{{ site.baseurl }}/lessons/lesson{{ page.lesson }}/segment{{ forloop.index }}">
                    {{ lessonnum }}.{{ forloop.index}} {{ segment }}
                </a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
{% endfor %}

    </ul>

  </div>
</div>
