---
layout: default
---

{% assign lessonindex = page.lesson | minus:1 %}
{% assign lesson = site.data.outline[lessonindex] %}

<div class="page">

  <h1 class="page-title">{{ lesson.title }}</h1>
  {{ content }}
  
  <ul>
  {% for segment in lesson.segments %}
    <li><a href="segment{{ forloop.index }}">
        {{ page.lesson }}.{{ forloop.index }} {{ segment.title }}
    </a></li>
  {% endfor %}
  </ul>
  
  See <a href="{{ site.baseurl }}/code/code_lesson{{ page.lesson }}">here</a> for the full code used in this lesson.

</div>
